# Ignore everything in target directory
/target/*

# But keep the release executable
!/target/release/*.exe
!/target/release/generate-private-key

# Other common Rust ignores
**/*.rs.bk
*.pdb
Cargo.lock
